.cover{
  height: 800px;
  width: 400px;
  margin: auto;
}
.tablo{
  font-weight: 500;
  font-size: large;
  border: 1px solid rgba(155, 200, 221, 0.5);
  border-radius: 5px;
  width: 100%;
  height: 100px;
  margin: auto;
}
#value{
  position: relative;
  left:20px;
  top: 20px;
}
.wrapper {
  display: grid;
  grid-template-columns: 3fr 1fr;
}
div[class$="line"]{
  width: 101.6%;
  height: 50px;
  margin: auto;
}
#equally{
  width:98%;
  height: 200%;
  margin-left: 5%;
  position:relative;
}
.wrapper-2{
  width: 300px;
}
button{
  padding: 10px;
  margin: auto;
  width: 24%;
  display: inline;
  height: 100%;
  cursor: pointer;
  border: 1px solid rgba(155, 200, 221, 0.5);
  border-radius: 5px;
  font-weight: 500;
  font-size: large;
}
button:hover {
  background: rgba(124, 124, 197, 0.1);
}
button:active {
  -webkit-box-shadow: 0px 0px 10px 1px rgba(34, 141, 223, 0.25);
  -moz-box-shadow: 0px 0px 10px 1px rgba(34, 141, 223, 0.25);
  box-shadow: 0px 0px 10px 1px rgba(34, 141, 223, 0.25);
}
button:focus {
  border: 1px solid rgba(155, 200, 221, 0.5);
  outline: none;
}
div[class="4-line"] button{
  padding: 10px;
  margin: auto;
  width: 32%;
  display: inline;
  height: 100%;
  cursor: pointer;
  border-radius: 5px;
  font-weight: 500;
  font-size: large;
}
div[class="5-line"] button{
  padding: 10px;
  margin: auto;
  width: 31.5%;
  display: inline;
  height: 100%;
  cursor: pointer;
  border-radius: 5px;
  font-weight: 500;
  font-size: large;
}
